<h1>parent Component</h1>
<form (ngSubmit)="getUserValue(simpleform.value)" #simpleform="ngForm">
    <input type="text" name="username" ngModel>
    <br><br>
    <input type="password" name="password" ngModel>
 
    <br><br>
    <button type="submit">Click Me</button>

</form>
<h2>{{dat}}</h2>
<br>
<br>
<br>
<label for="twowayroute"> Parent of two way route</label>
<input type="text" name="twowayroute" [(ngModel)]="tempname">
<h2> Child Componenet </h2>
<app-child [fname]='data' (parentfunc)="parentpassingfunc($event)" [varname]="tempname" (callparentfunc)="passchild($event)" ></app-child>
<br><br><br>
<h2>Directive used below</h2>
<p appCustomdirective>this a text by custom directive </p>


